# Ignoring Local Data Files - These can be sourced and created using scripts in the repo
*.csv
*.parquet
*.zip

# Ignoring datatypes used by DuckDB
*.db
*.wal

# Ignoring VSCode Workspace
*.code-Workspace
